<section class="test">
    <h1 class="title" style="text-decoration: {% if section.settings.underline %} underline {% else %} none {% endif %} ;text-align: {{ section.settings.txt-align }}; color:{{ section.settings.color }}; font-size: {{ section.settings.font-size }}px">{{ section.settings.title }}</h1>
</section>

{% schema %}
{
    "name": "Test",
    "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "select",
                "id": "txt-align",
                "label": "Align Text",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ]
            },
            {
                "type": "color",
                "id": "color",
                "label": "Color Text",
                "default": "#000000"
            },
            {
                "type": "range",
                "id": "font-size",
                "label": "Size Text",
                "min": 15,
                "max": 50,
                "step": 1,
                "unit": "px",
                "default": 16
            }, 
            {
                "type": "checkbox",
                "id": "underline",
                "label": "Underline",
                "default": false
            }
        ],
        "presets": [
            {
                "name": "Test"
            }
        ]
}
{% endschema %}