.test .txt-transform-uppercase {
    text-transform: uppercase;
    font-weight: 900;
}
.test .txt-transform-capitalize {
    text-transform: capitalize;
}
.test .txt-transform-lowercase {
    text-transform: lowercase;
}

.test .underline{
    text-decoration: underline;
}